<div class='row' id='main-wrapper'>
  <div id='bg-vid'>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/P3e7bEOUEwY?autoplay=1&showinfo=0&autohide=1&loop=1&playlist=P3e7bEOUEwY&vq=hd1080" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class='medium-6 columns'>
    <div class='title'>
      <h2>Janelle & Chan</h2>
    </div>
  </div>

  <div class='medium-6 columns'>
    <ul class='diamonds'>
      <li id='about-container' class='li-container'>
        <div href="#" class="diamond" id='about-btn'>
          <div class='content' id='about-content'>
            ABOUT US
          </div>
          <div class='full-content' id='about-full-content'>
            <%= fa_icon "close", class: 'close-maximized' %>
            <div class='text-center'>
              <h3>A Little Bit About Us</h3>
            </div>

            <div class='row'>
              <div class='medium-5 text-center columns'>
                <%= image_tag 'welcome.jpg', class:'welcome-img' %>
              </div>
              <div class='medium-7 text-center columns'>
                <div class='row'>
                  <div class='small-12 columns'>
                    <strong>How did you meet?</strong>
                  </div>
                </div>
                <div class='row'>
                  <div class='medium-12 columns'>
                    <strong>J: </strong>Chan and I met in an elevator our first week of college at New York University. Oddly enough, I have no recollection of this first encounter, nor do I remember our second encounter at a Thanksgiving potluck a year later. Two whole years after the elevator incident, I confidently introduced myself to Chan at a church barbecue, at which point he informed me that we had met twice before. Though terribly embarrassed, I laughed it off and we bonded over a mutual interest in cooking. Over the next couple of years, Chan and I grew to know each other first as friends and then more intimately when we started dating in 2014. He was passionate and driven, yet gentle and incredibly kind, so naturally I wanted him to be mine forever. Lucky for me, things worked out in my favor!
                  </div>
                </div>
                <hr />
                <div class='row'>
                  <div class='small-12 columns'>
                    <strong>C: </strong>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class='row'>
              <div class='small-12 columns'>
                <strong>First Impressions in Haiku Form</strong>
              </div>
            </div>
            <div class='row'>
              <div class='small-12 medium-6 columns'>
                <strong>J: </strong>
              </div>
              <div class='small-12 medium-6 columns'>
                <strong>C: </strong>
              </div>
            </div>

            <hr />

            <div class='row'>
              <div class='small-12 columns'>
                <strong>Favorite Photo of One Another</strong>
              </div>
            </div>
            <div class='row'>
              <div class='small-12 medium-6 columns'>
                <strong>J: </strong><%= image_tag 'favjanelle.jpg', class: 'about-fav' %>
              </div>
              <div class='small-12 medium-6 columns'>
                <strong>C: </strong><%= image_tag 'favchan.jpg', class: 'about-fav' %>
              </div>
            </div>

            <hr />

            <div class='row'>
              <div class='small-12 columns'>
                <strong>Favorite Activity to Do Together</strong>
              </div>
            </div>
            <div class='row'>
              <div class='small-12 medium-6 columns'>
                <strong>J: </strong>Grocery Shopping
              </div>
              <div class='small-12 medium-6 columns'>
                <strong>C: </strong>
              </div>
            </div>

            <hr />

            <div class='row'>
              <div class='small-12 columns'>
                <strong>The proposal</strong>
              </div>
            </div>
            <div class='row'>
              <div class='small-12 medium-12 columns'>
                <p>Chan proposed on July 2nd, 2015 with the help of some incredible friends and family members. Watch our proposal video filmed and edited by Janelle's best friend, Cara!</p>

                <div class='text-center'>
                  <%= button_to "Watch Video", 'https://www.youtube.com/watch?v=zNPZscRWwt8', class: 'button' %>
                </div>
              </div>
            </div>

            <br />
            <br />

          </div>
        </div>
      </li>

      <li id='wedding-container' class='li-container'>
        <div href='#' class='diamond' id='wedding-btn'>
          <div class='content' id='wedding-content'>
            THE WEDDING
          </div>
          <div class='full-content' id='wedding-full-content'>
            <%= fa_icon "close", class: 'close-maximized' %>

            <div class='row'>
              <div class='medium-12 text-center columns'>
                <h3>Ceremony & Reception</h3>

                <h4>Casa Romantica</h4>
                <h4>Cultural Center & Gardens</h4>
                <h5>415 Avenida Granada</h5>
                <h5>San Clemente, California 92672</h5>

                <h4>July 30, 2016</h4>
                <h5>4:30 pm</h5>

                <p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.053233110357!2d-117.62261558480134!3d33.42185648078209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcf414b1b718f9%3A0x23ffa29aaf562b5!2s415+Avenida+Granada%2C+San+Clemente%2C+CA+92672!5e0!3m2!1sen!2sus!4v1458930347569" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>

                <br />
                <hr />
                <br />

                <h3>Accommodations</h3>
                <p>
                  We have reserved some rooms at a discounted price at the San Clemente Holiday Inn Express. Please on the logo below to book rooms.
                </p>
                <p>
                  <%= link_to image_tag('holiday-inn.png'), 'http://bit.ly/JanelleChanWedding', class: 'registry-btn' %>
                </p>

                <br />

                <p>
                  Alternatively, the <%= link_to 'Beachcomber Inn', 'http://thebeachcomberinn.com/'%> is a beaside inn nearby that has fantastic reviews. You can click below to visit their page.
                </p>
                <p>
                  <%= link_to image_tag('beachcomber.png'), 'http://bit.ly/JanelleChanWedding', class: 'registry-btn' %>
                </p>


              </div>
            </div>

          </div>
        </div>
      </li>

      <li id='registry-container' class='li-container'>
        <div href='#' class='diamond' id='registry-btn'>
          <div class='content' id='registry-content'>
            REGISTRY
          </div>
          <div class='full-content' id='registry-full-content'>
            <%= fa_icon "close", class: 'close-maximized' %>

            <div class='row'>
              <div class='medium-12 text-center columns'>
                <h3>Registry</h3>

                <p>We consider your presence on our special day the greatest gift, but if you would like to get us something tangible, we are registered on the following sites. Click through to view our registry!</p>

                <p>
                  <%= link_to image_tag('amazon.png'), 'https://www.amazon.com/registry/wedding/2IQ304NM0WTAU', class: 'registry-btn' %>
                </p>
                <p>
                  <%= link_to image_tag('west-elm.png'), 'https://secure.westelm.com/registry/9f7tcphzm5/registry-list.html', class: 'registry-btn' %>
                </p>

              </div>
            </div>

          </div>
        </div>
      </li>

      <li id='rsvp-container' class='li-container'>
        <div href='#' class='diamond' id='rsvp-btn'>
          <div class='content' id='rsvp-content'>
            RSVP
          </div>
          <div class='full-content' id='rsvp-full-content'>
            <%= fa_icon "close", class: 'close-maximized' %>

            <div class='row'>
              <div class='small-12 columns'>
                <div class='text-center'>
                  <h3>RSVP</h3>
                </div>

                <div class="ss-form">
                  <form action="https://docs.google.com/forms/d/1xtla1RVyOoxliioQ9I6535GC1sv_4UMTVW0l4MLo8M0/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
                    <ol role="list" class="ss-question-list" style="padding-left: 0">

                      <div class="ss-form-question errorbox-good small-12 medium-6 columns" role="listitem">
                        <div dir="auto" class="ss-item  ss-text">
                          <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_284839225">
                              <div class="ss-q-title">First Name</div>
                              <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                            </label>
                            <input type="text" name="entry.284839225" value="" class="ss-q-short" id="entry_284839225" dir="auto" aria-label="First Name  " title="">
                          </div>
                        </div>
                      </div>

                      <div class="ss-form-question errorbox-good small-12 medium-6 columns" role="listitem">
                        <div dir="auto" class="ss-item  ss-text">
                          <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_125984265">
                              <div class="ss-q-title">Last Name</div>
                              <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                            </label>
                            <input type="text" name="entry.125984265" value="" class="ss-q-short" id="entry_125984265" dir="auto" aria-label="Last Name  " title="">
                          </div>
                        </div>
                      </div>

                      <div class="ss-form-question errorbox-good small-12 columns" role="listitem">
                        <div dir="auto" class="ss-item  ss-radio">
                          <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_1817072262">
                              <div class="ss-q-title">Will you be attending?</div>
                              <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                            </label>
                            <ul class="ss-choices" role="radiogroup" aria-label="Are you coming?  ">
                              <li class="ss-choice-item">
                                <label>
                                  <span class="ss-choice-item-control goog-inline-block">
                                    <input type="radio" name="entry.440966790" value="Yes" id="group_440966790_1" role="radio" class="ss-q-radio" aria-label="Yes">
                                  </span>
                                  <span class="ss-choice-label">Yes</span>
                                </label>
                              </li>
                              <li class="ss-choice-item">
                                <label>
                                  <span class="ss-choice-item-control goog-inline-block">
                                    <input type="radio" name="entry.440966790" value="No" id="group_440966790_2" role="radio" class="ss-q-radio" aria-label="No">
                                  </span>
                                  <span class="ss-choice-label">No</span>
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="ss-form-question errorbox-good small-12 columns" role="listitem">
                        <div dir="auto" class="ss-item  ss-text">
                          <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_395174610">
                              <div class="ss-q-title">Who else are you RSVP'ing for?</div>
                              <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                            </label>
                            <input type="text" name="entry.395174610" value="" class="ss-q-short" id="entry_395174610" dir="auto" aria-label="Who else are you RSVP'ing for?  " title="">
                          </div>
                        </div>
                      </div>

                      <div class="ss-form-question errorbox-good small-12 columns" role="listitem">
                        <div dir="auto" class="ss-item  ss-paragraph-text">
                          <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_1477018155">
                              <div class="ss-q-title">Any comments?</div>
                              <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                            </label>
                            <textarea name="entry.1477018155" rows="3" cols="0" class="ss-q-long" id="entry_1477018155" dir="auto" aria-label="Any comments?  "></textarea>
                            <div class="error-message" id="364423638_errorMessage"></div>
                          </div>
                        </div>
                      </div>

                      <input type="hidden" name="draftResponse" value="[,,&quot;-567068969123512273&quot;]">
                      <input type="hidden" name="pageHistory" value="0">
                      <input type="hidden" name="fvv" value="0">
                      <input type="hidden" name="fbzx" value="-567068969123512273">
                      <div class="ss-item ss-navigate small-12 columns">
                        <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action button">
                      </div>
                    </ol>
                  </form>
                </div>


              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
