<div class='row' id='main-wrapper'>
  <div id='bg-vid' style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eaTymLhVzMQ?autoplay=1&showinfo=0&autohide=1&loop=1&playlist=eaTymLhVzMQ&vq=hd1080" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class='title'>
    <h2>Janelle & Chan</h2>
  </div>

  <ul class='diamonds'>
    <li id='about-container' class='li-container'>
      <a href="#" class="diamond" id='about-btn'>
        <div class='content' id='about-content'>
          About Us
        </div>
        <div class='full-content' id='about-full-content'>
          <%= fa_icon "close", class: 'close-maximized' %>

          <div class='row'>
            <div class='medium-12 text-center columns'>
              <h3>About Us</h3>
              <p>
                We are getting married.
              </p>
            </div>
          </div>

        </div>
      </a>
    </li>

    <li id='wedding-container' class='li-container'>
      <a href='#' class='diamond' id='wedding-btn'>
        <div class='content' id='wedding-content'>
          Wedding Info
        </div>
        <div class='full-content' id='wedding-full-content'>
          <%= fa_icon "close", class: 'close-maximized' %>

          <div class='row scrollable'>
            <div class='medium-12 text-center columns scrollable'>
              <h3>The Wedding</h3>

              <p>
                Blabh blaufiweufjiowejfoaiwejfoi
                aweifjaowiejf
                aiwejfoawiejf
                aiwejfowiejfa
                wiejfoawiejfa
                weifjaoweijfaoiwejf
                aweijfoaiwejf
                awiejo
              </p>

              <p>
                Blabh blaufiweufjiowejfoaiwejfoi
                aweifjaowiejf
                aiwejfoawiejf
                aiwejfowiejfa
                wiejfoawiejfa
                weifjaoweijfaoiwejf
                aweijfoaiwejf
                awiejo
              </p>

              <p>
                Blabh blaufiweufjiowejfoaiwejfoi
                aweifjaowiejf
                aiwejfoawiejf
                aiwejfowiejfa
                wiejfoawiejfa
                weifjaoweijfaoiwejf
                aweijfoaiwejf
                awiejo
              </p>

              <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.053233110357!2d-117.62261558480134!3d33.42185648078209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcf414b1b718f9%3A0x23ffa29aaf562b5!2s415+Avenida+Granada%2C+San+Clemente%2C+CA+92672!5e0!3m2!1sen!2sus!4v1458930347569" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
              </p>

              <p>
                Blabh blaufiweufjiowejfoaiwejfoi
                aweifjaowiejf
                aiwejfoawiejf
                aiwejfowiejfa
                wiejfoawiejfa
                weifjaoweijfaoiwejf
                aweijfoaiwejf
                awiejo
              </p>

            </div>
          </div>

        </div>
      </a>
    </li>

    <li id='registry-container' class='li-container'>
      <a href='#' class='diamond' id='registry-btn'>
        <div class='content' id='registry-content'>
          Registry
        </div>
        <div class='full-content' id='registry-full-content'>
          <%= fa_icon "close", class: 'close-maximized' %>

          <div class='row'>
            <div class='medium-12 text-center columns'>
              <h3>Registry</h3>

              <p>We consider your presence on our special day the greatest gift, but if you would like to get us something tangible, we are registered on the following sites:</p>

              <p>
                <%= image_tag 'amazon.png' %>
              </p>

            </div>
          </div>

        </div>
      </a>
    </li>

    <li id='rsvp-container' class='li-container'>
      <a href='#' class='diamond' id='rsvp-btn'>
        <div class='content' id='rsvp-content'>
          RSVP
        </div>
        <div class='full-content' id='rsvp-full-content'>
          <%= fa_icon "close", class: 'close-maximized' %>
        </div>


      </a>
    </li>
  </ul>
</div>
