<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Pinyon+Script|Open+Sans' rel='stylesheet' type='text/css'>    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <!--[if IE]>
      <style type="text/css">
        #bg-vid {
          display: none;
        }
        body {
	  background-color: black;
          background-image: url('scenery.jpg');
          background-size: cover;
        }
      </style>
    <![endif]-->
  </head>

  <body>

    <%= yield %>

  </body>
</html>
